
.container {
    padding: 20px;
    height: calc(100% - 40px);
}

.contenedor{
    display: flex;
    justify-content: center;
    padding: 10px;

}

.ag-theme-quartz{
    --ag-row-hover-color: rgb(131, 131, 131);
    --ag-header-background-color: rgb(107, 128, 197);
}

.question{
    text-align: left;
}

.header {
  display: flex;
  align-items: center;  /* Centers text vertically */
  justify-content: flex-start;  /* Aligns text to the left */
  padding-left: 20px;  /* Moves text away from the edge */
  max-width: 100%;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
  border-radius: 8px; /* Optional: rounded corners */
  height: 60px;  /* Adjust height as needed */
  margin-bottom: 20px; /* Creates space between header and other content */
}
