<div class="container">
  <div class="header">
    <h2>Check your visits</h2>
  </div>
  <mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Date Column -->
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="Time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{ element.setHour }} </td>
      </ng-container>

      <!-- Company Column -->
      <ng-container matColumnDef="Company">
        <th mat-header-cell *matHeaderCellDef> Company </th>
        <td mat-cell *matCellDef="let element"> {{ element.company }} </td>
      </ng-container>

      <!-- Guest Column -->
      <ng-container matColumnDef="Guests">
        <th mat-header-cell *matHeaderCellDef> Guests </th>
        <td mat-cell *matCellDef="let element"> {{ element.visitor_count }} </td>
      </ng-container>

      <!-- Schedule Column -->
      <ng-container matColumnDef="Schedule">
        <th mat-header-cell *matHeaderCellDef> Schedule </th>
        <td mat-cell *matCellDef="let element"> {{ element.schedule }} </td>
      </ng-container>


      <!-- Table Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
  <div class="contenedor">
    <button mat-flat-button (click)="navCreateVisit()">
      Create New Visit
    </button>
  </div>

</div>