.a{
    background-color: rgb(3, 133, 3);
    color: rgb(252, 252, 252);
    border-radius: 5px;
    border-color: rgb(3, 133, 3);
    height: calc(10svh - 65px);
}

.division{
    padding: 10px;
}

.ag-theme-quartz{
    --ag-row-hover-color: rgb(131, 131, 131);
    --ag-header-background-color: rgb(107, 128, 197);
}

.card{
  height: 80%;
}

.footer{
  height: 10%;
}

.buttonL, .buttonR {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  background-color: #c6d6e3;
  border: none;
  color: #00205b;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 30%;
  transition: all 0.5s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 5px;
}

.buttonL span, .buttonR span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonL span:after, .buttonR span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonL:after, .buttonR:after{
  content: "";
  background: #2c0ed3;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.buttonL:active:after, .buttonR:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.buttonL:hover span, .buttonR:hover span {
  padding-right: 25px;
}

.buttonL:hover span:after, .buttonR:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonR {
  margin-left: 35%;
}

.title{
  text-align: center;
}

.header{
  text-align: center;
  align-items: center;  /* Centers text vertically */
  justify-content: flex-start;  /* Aligns text to the left */
  padding-left: 20px;  /* Moves text away from the edge */
  max-width: 100%;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
  border-radius: 5px; /* Optional: rounded corners */
  height: 60px;  /* Adjust height as needed */
  margin-bottom: 20px; /* Creates space between header and other content */
}
