<div class="container">
    <div class="header">
        <h2 class="visitor">Edit or delete a guest</h2>
    </div>
    <div class="card">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Peter" #input>
        </mat-form-field>  

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="LastName">
                <th mat-header-cell *matHeaderCellDef> Last name </th>
                <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone number </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <a  matTooltip="Edit the guest">
                        <button mat-icon-button class="pointer">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </a>     
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>

        <div class="card-body">
            <form>
                <!-- Name -->
                <div class="card-body" [formGroup]="AddVisitorForm">
                    <label class="form-label">
                        Please enter the name of your guest
                    </label>
                    <input type="fname" formControlName="fname" class="form-control" placeholder='Ex. "Peter"'>
                    <div class="errors-container"
                        *ngIf="fnameControl.invalid && (fnameControl.touched) || fnameControl.dirty">
                        <p class="error-msg" *ngIf="fnameControl.hasError('required')" style="color: #bd0c0c;">The field
                            must be required.</p>
                    </div>
                </div>
                <!-- Last name -->
                <div class="card-body" [formGroup]="AddVisitorForm">
                    <label class="form-label">
                        Please enter the last name of your guest
                    </label>
                    <input type="fname" formControlName="lname" class="form-control" placeholder='Ex. "Parker"'>
                    <div class="errors-container"
                        *ngIf="lnameControl.invalid && (lnameControl.touched) || lnameControl.dirty">
                        <p class="error-msg" *ngIf="lnameControl.hasError('required')" style="color: #bd0c0c;">The field
                            must be required.</p>
                    </div>
                </div>
                <!-- E-mail -->
                <div class="card-body" [formGroup]="AddVisitorForm">
                    <label class="form-label">
                        Please enter the E-mail of your guest
                    </label>
                    <input type="email" formControlName="email" class="form-control" placeholder='Ex. "user@mahle.com"'>
                    <p class="error-msg" *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')"
                        style="color: #bd0c0c;">Please enter a valid email address</p>
                    <div class="errors-container"
                        *ngIf="emailControl.invalid && (emailControl.touched) || emailControl.dirty">
                        <p class="error-msg" *ngIf="emailControl.hasError('required')" style="color: #bd0c0c;">E-mail is
                            required.</p>
                    </div>
                </div>
                <!-- Cellphone -->
                <div class="card-body" [formGroup]="AddVisitorForm">
                    <label class="form-label">
                        Please enter the phone number of your guest
                    </label>
                    <input type="phone" formControlName="phone" class="form-control" placeholder='Ex. "656-555-5555"'>
                    <div class="errors-container"
                        *ngIf="phoneControl.invalid && (phoneControl.touched) || phoneControl.dirty">
                        <p class="error-msg" *ngIf="phoneControl.hasError('required')" style="color: #bd0c0c;">The field
                            must be required.</p>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="buttons">
                    <button mat-flat-button class="a">Get back</button>
                    <button mat-flat-button class="center" (click)="openDialog()" disabled="">Delete guest</button>
                    <button mat-flat-button class="Confirm">Confirm changes</button>
                </div>
            </form>
        </div>
    </div>
</div>