.form-control.ng-invalid.ng-touched {
    border-color: #bd0c0c;
  }

  .Confirm {
    border-radius: 5px;
    background-color: rgb(67, 176, 42)  !important;
    color: rgb(255, 255, 255);
    border-color: white !important;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .a {
    text-align: left;
    background-color: rgb(189, 12, 12) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 5px;
  }

  .confirmDiv {
    text-align: right;
  }

  .center {
    text-align: center;
    background-color: rgb(243, 208, 62) !important;
    border-radius: 5px;
    border-color: white !important;
    height: 40px;
  }

  .btnCenter {
    text-align: center;
  }
  
  .header{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect */
    -webkit-backdrop-filter: blur(5px); /* Safari support */
    border-radius: 5px; /* Optional: rounded corners */
    height: 30px;  /* Adjust height as needed */
    margin-bottom: 15px; /* Creates space between header and other content */
  }

  .card{
    background-color: rgb(255, 255, 255, 0.5);
  }

  .visitor{
    margin-bottom: 100%;
  }

  table {
    width: 100%;
    margin-top: 10px;
  }

  th{
    width: 16.66%;
  }

  .pointer{
    cursor: pointer;
    color: rgb(142, 58, 128);
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }