.title{
  padding-top: 50px;
  text-align: center;
  padding-bottom: 35px;
  color: #00205b;
}

.fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 180px;  /* Set the same width as your image */
  height: 70px;  /* Set the same height as your image */
  background-image: url("/assets/Images/logo.png");
  background-size: contain; /* Ensures the image fits within the div */
  background-repeat: no-repeat;
  background-position: center;
}

.separator{
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
}

.today{
  padding-bottom: 20px;
}

.card{
  width: 20%;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-left: 20px;
  padding-top: 10px;
  float: left;
  padding-right: 8px;
  margin-left: 6%;
  margin-right: 7%;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 5px;
  padding-bottom: 5px;
}

.principal{
  max-width: 2000px;
  background-color: rgb(255, 255, 255, 0.35);
  margin-top: 10px;
}

.example-spacer{
  flex: 1 0 auto;
}

.upper{
  background-color: rgb(1, 24, 65);
}

.btnnn{
  background-color: rgb(5, 0, 49);
  color: #ededed;
}

.container{
  background-color: rgb(198, 214, 227);
  border-radius: 5px;
}

.See{
  background-color: rgb(198, 214, 227);
  width: 100px;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
}

.subtitle{
  color: black;
}

.btnEjemplo{
  border-radius: 5px;
  background-color: rgb(8, 189, 8);
  color: black;
  
}

.btnEjemplo:hover{
  outline: 1px solid rgb(243, 208, 62);
}

.btnEjemplo:active{
  outline: 1px solid rgb(142, 58, 128);
}

.header{
  display: flex;
  justify-content: center;
  text-align: center;
}

.btnSee{
  text-align: end;
}

.Progress{
  color: rgb(243, 208, 62);
}

.Pending{
  color: rgb(67, 176, 42);
}

.background{
  background: url("/assets/Images/bg2.jpeg") center/cover no-repeat;
  height: calc(100svh - 65px);
}

mat-card-title{
  color: #00205b;
}