.container {
    padding: 20px;
    height: calc(100% - 40px);
}

.ng-touched.ng-invalid:is(input,textarea), .ng-dirty.ng-invalid:is(input, textarea){
    outline: 2px solid #bd0c0c;
}

.divider{
    padding-bottom: 9px;
}

.division {
  text-align: right;
  margin-top: 20px; /* Adds spacing above the buttons */
  margin-bottom: 20px; /* Adds spacing below the buttons */
}

.division div {
  display: flex;
  gap: 15px; /* Adds spacing between the buttons */
  justify-content: flex-end; /* Ensures they stay aligned to the right */
}

.a, .b {
  background-color: #c6d6e3 !important;
  color: #ededed !important;
  border-radius: 5px;
  border: none;
  padding: 10px 15px; /* Makes buttons more visually balanced */
  height: auto; /* Prevents height issues */
}

.header {
  
  text-align: center;
  align-items: center;  /* Centers text vertically */
  justify-content: flex-start;  /* Aligns text to the left */
  padding-left: 20px;  /* Moves text away from the edge */
  max-width: 100%;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(5px); /* Safari support */
  border-radius: 5px; /* Optional: rounded corners */
  height: 60px;  /* Adjust height as needed */
  margin-bottom: 20px; /* Creates space between header and other content */
}

.header h2 {
  margin: 0;  /* Removes default margin */
  padding: 0; /* Ensures no extra padding */
  line-height: 1; /* Adjusts text height */
}

.visit{
  margin-top: 10px;
}

.card{
  background-color: rgb(255, 255, 255, 0.5);
}

.createBtn{
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.create {
  width: 500px;
  border-radius: 5px;
  border: none;
  padding: 10px 15px; /* Makes buttons more visually balanced */
  height: auto; /* Prevents height issues */
  background-color: rgb(67, 176, 42) !important;
}