mat-toolbar {
  background-color: #1e2a63;
  flex-shrink: 0;
  height: 64px;
}

mat-sidenav {
  background-color: #c6d6e3;
  color: #f3d03e;
  width: 200px;
  border-right: none;
  padding: 16px 0;
  border-radius: 25px;
}

.logo {
  width: 180px;  /* Set the same width as your image */
  height: 70px;  /* Set the same height as your image */
  background-image: url("/assets/Images/logo.png");
  background-size: contain; /* Ensures the image fits within the div */
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  height: calc(100svh - 98px);
  border-radius: 10px;
  padding: 16px;
  max-width: 1520px;
  margin: 0 auto;
  font-size: 16px;
}

mat-sidenav-container {
  background: url("/assets/Images/bg2.jpeg") center/cover no-repeat;
  color: #00205b;
  height: calc(100svh - 65px);

}

.img {
  text-align: justify;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #c6d6e3;
}

.example-spacer {
  flex: 1 0 auto;
}

.btnnn{
  background-color: rgb(5, 0, 49);
  color: rgba(205,205,205,255);
}

.bottom-nav {
  position: absolute;
  bottom: 20px;
  width: 200px;
  color: #ededed;
}

.sidenav {
  color: #ededed;
}

