.container {
    padding: 20px;
    height: calc(100% - 40px);
    text-align: center;
    
}

.header{
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect */
}

.ng-touched.ng-invalid:is(input,textarea), .ng-dirty.ng-invalid:is(input, textarea){
    outline: 2px solid #bd0c0c;
}

.a, .b{
    border: none;
    border-radius: 5px;
    padding: 10px 15px; /* Makes buttons more visually balanced */
    height: auto; /* Prevents height issues */
}

.divBtn{
    display: flex;
    gap: 15px; /* Adds spacing between the buttons */
    justify-content: flex-end; /* Ensures they stay aligned to the right */
}

.division{
    padding-bottom: 10px;
}

.divider{
    padding-bottom: 9px;
}

.select{
    background-color: rgb(7, 162, 209);
    border-radius: 10px;
    border-color: rgb(7, 162, 209);
    margin-right: 5px;
    color: white !important;
}

.delete{
    background-color: rgb(186, 12, 47);
    border-radius: 10px;
    border-color: rgb(186, 12, 47);
    margin-left: 5px;
    color: white !important;
}

.btnn{
    padding-left: 5px;
}

.card{
    background-color: rgb(255, 255, 255, 0.5);
}

.action{
    align-items: end;
}

.edit{
    border: none;
    width: 500px;
    border-radius: 5px;
    margin-top: 10px;
}

.company{
    width: 33.33%;
}

.employee{
    width: 25%;
}