<mat-toolbar class="upper">
  <div class="logo"></div>
  <span class="example-spacer"></span>
  <button mat-fab extended class="btnnn" (click)="logOff()">
    <mat-icon>logout</mat-icon>
    Log-out
  </button>
</mat-toolbar>
<div class="title">
  <h1>Cabin</h1>
</div>
<div class="separator">
  <mat-card appearance="outlined" class="company">
    <mat-card-header>
      <div>
        <h2>Company #</h2>
        <h4>Visit code: 101010</h4>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div>
        <button mat-button (click)="AddCard()" class="btnEjemplo">Mostrar cartas</button>
      </div>
      <div *ngFor="let card of cards1">
        <div class="card">
          <h3>{{card.title}}</h3>
          <h6>{{card.email}}</h6>
          <p>{{card.phone}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="boton">
    <button mat-flat-button class="okbtn" (click)="navOk()">OK</button>
  </div>
</div>
