<mat-toolbar class="upper fixed-header">
  <div class="logo"></div>
  <span class="example-spacer"></span>
  <button mat-fab extended class="btnnn" (click)="logOff()">
    <mat-icon>logout</mat-icon>
    Log-out
  </button>
</mat-toolbar>
<br><br><br>
<div class="title">
  <h1>Reception</h1>
</div>
<div class="separator">
  <mat-card appearance="outlined" class="company">
    <mat-card-header>
      <div>
        <h2>{{ data.company }}</h2>
        <h4>Visit code: {{ data.codigo }}</h4>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div>
        <!--<button mat-button (click)="AddCard()" class="btnEjemplo">Mostrar cartas</button>-->
      </div>
      <div *ngFor="let card of cards1">
        <div class="card">
          <h3>{{card.title}} <span [ngClass]="{
            'badge-expected':statusClass === 'Expected',
            'badge-chkin':statusClass === 'Checked-In',
            'badge-chkout':statusClass === 'Checked-Out'}"
          >{{statusClass}}</span></h3>
          <br/>
          <p>Email:</p>
          <h6>{{card.email}}</h6>
          <br/>
           <p>Phone:</p>
           <h6>{{card.phone}}</h6>
          <div class="btnP">
            <button mat-button class="printBtn">Print</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="boton">
    <button mat-button class="closeBtn" disabled>Close visit</button>
    <button mat-button class="okbtn" (click)="navMenu()">EXIT</button>
  </div>
</div>
